alternativeEndpoints:
  - endpoint: "http://localhost:8081/hello"
    method: "GET"
    alternatives:
      - endpoint: "http://localhost:8082/hello"
        method: "GET"
      - endpoint: "http://localhost:8083/hello"
        method: "GET"
  - endpoint: "http://localhost:8084/hello"
    method: "GET"
    alternatives:
      - endpoint: "http://localhost:8085/hello"
        method: "GET"
      - endpoint: "http://localhost:8086/hello"
        method: "GET"